
//폰트
@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');


$MAX_WIDTH: 486px;
$MIN_HEIGHT: 100vh;
$MAIN: #8F80D7;
$PURPLE: #6151AE;
$WHITE: #FFFFFF;
$MYEONGJO: 'Nanum Myengjo', serif;
$GOTHIC: 'Nanum Gothic', serif;


