@import '../../Styles/variable.scss';

@keyframes slideUp {
    0% {
        transform: translateY(100%); /* 시작 위치: 아래 */
        opacity: 0; /* 시작 시 투명도 0 */
    }
    100% {
        transform: translateY(0); /* 최종 위치: 현재 위치 */
        opacity: 1; /* 최종 투명도 1 */
    }
}


.main {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
    background-image: url(../../../public/img/Back_Table.svg);
    background-repeat: no-repeat;
    background-position: center;
    .tit {
        font-size: 48px;
        font-family: son;
    }
    .logo {
        width: 193px;
    }
    .char {
        width: 100px;

    }

    .card_cont {
        animation: slideUp 0.6s ease-out forwards;
        height: 360px;
        width: 342px;
        background-image: url(../../../public/img/card_half.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        gap: 90px;
        border-radius: 15px 15px 0 0;
        margin: 0;
        margin: 0 auto;
        .input_name {
            background-color: #F3F0FF;
            width: 90%;
            height: 40px;
            border: none;
            border-radius: 7px;
            font-size: 20px;
            text-align: center;
            font-family: $MYEONGJO;
            font-weight: 700;
            margin: 0 auto;
        }
        >button {
            background-color: $PURPLE;
            color: #ffffff;
            border: none;
            border-radius: 7px;
            height: 44px;
            width: 217px;
            margin: 0 auto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;

        }
    
    }
}